/* Kim Smock CSS Style Sheet */

/* ----- ADD GOOGLE FONTS HERE ----- */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&display=swap');

/* ------ CSS RESET ------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ------ END OF CSS RESET ------ */
/* ------ CSS VARIABLES ------ */
:root{
	--bark: #262223;
	--red: #f25e3d;
	--dk-orange: #f2994b;
    --orange: #ffb30d;
	--med-gray: #7a7a7a;
    --gray: #b4bec9;
    --tan: #c2c0a6;
	--lt-tan: #f2ede4;
    --off-white: #ffffff;
	
	--font-family: dm-sans, verdana, sans-serif;
	line-height: 1.5;
	box-sizing: border-box;

	--font-family: oswald, arial, sans-serif;

	--heading-fonts: dm-sans, verdana, sans-serif;
	--body-fonts: arial, verdana, sans-serif;
}
/* ------ END OF CSS VARIABLES ------ */
/* ------ CSS STYLES ------ */

/*-- GENERAL STYLES --*/

html{
	background-color:#262223;
	text-align: left;
}

@media (min-width: 1200px) {
	/* Styles specific to 1200px and above screens */
	body { 
	padding: 50px; /*  Increase padding for larger screens */
}

.content-area {
	/*  Styles for content area at 1200px */
	max-width: 1200px;
	margin: 0 auto; 
}
}

.dark-mode {
	background-color: #262223;
	color: #ffffff;
}

.light-mode {
	background-color: #ffffff;
	color: #262223;
}

body{
	font-family: Arial, sans-serif;
	background-color: #262223;
	font-size: 16px;
	color:#ffffff;
	margin: 0;
	padding: 20px; 
}

nav {
	justify-content: center;
}

nav ul{
	background-color: #f25e3d;
	color:#ffffff;
	display: grid;
	grid-template-columns: 1fr 1fr 2fr;
	gap: 1rem;
	padding: 1rem;
	text-align: right;
}

nav a {
	color: #ffffff;
    text-decoration: none;
	text-align: center;
	font-weight: bold;
}
 /* LINK STYLES */
a{
	display: block
}

#content {
	padding-left: 125px;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #b4bec9;	
}

input[type="checkbox"] {
	display: none;
}

label[for="dark-mode-toggle"] {
	cursor: pointer;
	font-family: var(--Dm-Sans, Verdana, sans-serif);
	font-size: 16px;
	color:#f2994b;
}

.background {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(131, 130, 130, 0.8); /*Adjust the opacity value as needed */
	z-index: 999;
}

/*  Dark Mode Styles */
#dark-mode-toggle:checked ~ .background {
	display: block;
}

h1, h2, h3, h4{
	font-weight: bold;
	margin: 0.5rem;
	color:#f25e3d;
	font-family: var(--Dm-Sans, Verdana, sans-serif)
}

h2{
	font-size: 24px;
	margin:10px;
	padding-left: 110px;
	padding-right: 325px;
}

header {
	background-color:#262223;
	color:#ffffff;
	padding: 10px 20px;
	text-align: center;
}

#skip-to-content {
	position: fixed;
	top: 10px;
	right: 10px;
	background-color: #f25e3d;
	padding: 5px 10px;
	font-weight: bold;
	text-decoration: none;
	color:#f2994b;
}

label[for="dark-mode-toggle"] {
	cursor: pointer;
}

header a {
	text-decoration: none;
	color: #ffffff;	
}

header h1 {
	text-align: left;
	margin-bottom: 10px;
}

header h2 {
	padding-left: 0px;
	margin-bottom: 10px;
}

header p {
	color: #7a7a7a;
	text-align: center;
	font-style: italic;	
}

header a {
	color: #ffffff;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* -- NAVIGATION STYLES -- */
nav {
	text-align: center;
}

nav ul {
	list-style: none;
	padding: 0;
}

nav li address{
	color: #ffffff;
}

/* -- MAIN CONTENT AREA STYLES -- */

main {
	padding: 20px;
}

main section {
	margin-bottom: 20px;
}

main h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

main dl {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
}

main dt {
	flex: 1;
	font-weight: bold;
	margin-bottom: 5px;
}

main dd {
	flex: 1;
}

main figure {
	margin-bottom: 20px;
	padding: 125px;
}

main figcaption {
	font-style: italic;
	text-align: center;
}

/*  Styles for images*/
img {
	max-width: 100%;
	height: auto;
}

/*   Styles for buttons*/
button {
	background-color: #f25e3d;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #f2994b;
}

p{
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 10px;
	padding-left: 120px;
	padding-right: 325px;	
}


/*--Section Styles--*/
#about, #portfolio, #products, #contact {
	padding: 20px;
}
#about dl {
	margin-top: 20px;
}

#about img {
	margin-left: 20px;
	padding-left: 120px;
}

#section dt {
	font-weight: bold;
}
/*  PORTFOLIO SECTION  */
#portfolio {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

#portfolio section {
	flex: 0 0 48%; /* Adjust the width as needed */
	margin-bottom: 20px;
}

#portfolio h2 {
	font-size: 24px;
	margin-bottom: 10px;
}
#portfolio figure {
	margin-bottom: 10px;
}

#portfolio img {
	height: auto;
	
}

#portfolio figcaption {
	margin-top: 5px;
	margin-bottom: 20px;
	padding-left: 10px;
	
}

#portfolio p {
	margin-top: 10px;
}

#portfolio dl {
	margin: 10px;
}

#portfolio dt {
	margin: 10px;
}

#portfolio dd {
	margin: 10px;
	font-weight: bold;
}

#products {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}	

/*  ---- Product Switcher  ----   */
#productSwitcherExample1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#productSwitcherExample1 section {
	width: calc(33% - 20px);
	margin-bottom: 20px;
	text-align: center;
	border: 1px solid #ccc;
	padding: 10px;
}

#productSwitcherExample1 .currentItem {
	background-color: #f2994b;
}

#productSwitcherExample1 button {
	margin-bottom: 10px;
}

#switcher1 {
	display: flex;
	align-items: center;
}

#switcher1 section {
	border: 1px solid #f2f2f2;
	padding: 20px;
	margin-bottom: 20px;
}

#switcherButtons {
	display: flex;
	justify-content: space-around;
}

/*  Game and Cart Sections  */

main{
	background-color: #262223;
	color:#ffffff;	margin: 5px;
	align-items: center;
}

/*  Styles for guessing game*/
#game1, #game2 {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
}

#game1 form, #game2 form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#game1 .message, #game2 .message {
	color:#f25e3d;
	font-style: italic;
	margin-bottom: 10px;
	display: none;
}

#game1 input[type="submit"], #game2 input[type="submit"] {
	margin-top: 10px;
}

#game1 p, #game2 p {
	margin-bottom: 10px;
}

#gameOutput, #gameOutput2 {
	margin-bottom: 10px;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

